<?xml version="1.0"?>
<!--
/**
 * @category   Vky
 * @package    Vky_Core
 * @author     Vicky <viky.031290@gmail.com>
 * @copyright  Copyright © VKY All right reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vky" sortOrder="297">
            <label>Vky</label>
        </tab>
        <section id="vky_core" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <tab>vky</tab>
            <label>Core</label>
            <resource>Vky_Core::core_config</resource>
            <group id="general" translate="label" type="text" sortOrder="250" showInDefault="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
